<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="douai.mines.isic.moodplayer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--  <activity
            android:name=".MenuPrincipal"
          class=".MoodPlayer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:value="android.intent.action.MAIN" android:name="android.intent.action.MAIN"/>
                <category android:value="android.intent.category.LAUNCHER" android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".MenuPrincipal"
            class=".MoodPlayer"
            android:label="MoodPlayer" >
        </activity>
        <activity
            android:name=".MoodActivity"
            class=".MoodActivity" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:value="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayMusicMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_play_music_menu"
            android:parentActivityName=".MoodActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="douai.mines.isic.moodplayer.MoodActivity" />
        </activity>
    </application>

</manifest>
